.title-bar {
    /* app bar bg: */
    background: #212121;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
}
.title {
    /* menu: */
    /* Connect: */
    font-family: Assistant-ExtraBold;
    font-size: 30px;
    color: #FFFFFF;
    text-align: left;
}

.search {
    /* search: */
    /* Search your connects: */
    font-family: Assistant-Light;
    font-size: 20px;
    color: #727272;
    text-align: left;
    /* Fill 38: */
    background: #FFFFFF;
    /* Fill 39: */
    background: #FFFFFF;
    /* Fill 40: */
    background: #FFFFFF;
}

/* Contact List */

.connect-list {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    list-style-type: none;
    width: 45%;
    float: left;
    background-color: #212121;
}

.profile-pic {
    padding-top: 5px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 50%;
    border: 0px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.list-item {
    height: 75px;
    display: flex;
}

.list-deets {
    margin-left: 5px;
    padding-top: 10px;
}

.list-name {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.86px;
    display: inline-block;
    padding-right: 5px;
}

.list-loc {
    font-size: 14px;
    color: #535353;
    letter-spacing: 0.64px;
    margin: 0;
    display: inline-block;
    padding-left: 2px;
}

.list-org {
    background-color: #FFFFFF;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-org-active {
    background-color: #212121;
    color: #FFFFFF;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Detail View */

.detail-view {
    margin-top: 60px;
    width: 55%;
    float: right;
    background-color: #FAFAFA;
    text-align: center;
}

.detail-pic {
    margin-top: 5px;
    border-radius: 50%;
    border: 0px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0;
}

body {
    font-family: Assistant;
    font-weight: 300;
}